<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="BoxModel.css">
</head>
<body>
.section1 {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.section2 {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</body>
</html>
</head>
<body>
