Style.css

.header{
  background-color: #aba361;
  padding: 30 px;
  text-align: center;
  font-size: 35 px;
  font-color: #420c14;
  font-family: "space grotesk",sans-serif;
  font-weight: 500;
}
.nav {
  font-family: "space grotesk",sans-serif;
  font-weight: 500;
  font-size: 20 px;
  font-color: #420c14;
}

.body {
  font-family: "space grotesk",sans-serif;
  font-weight: 300;
  font-color: #420c14;
}

.section1 {
  background-color: lightgrey;
  width: 300 px;
  border: 15 px solid green;
  padding: 50 px;
  margin: 20 px;
}

.section2 {
  background-color: #aba361;
  width: 300 px;
  border: 15 px solid green;
  padding: 50 px;
  margin: 20 px;
}


